<h3 style="color: midnightblue;">Liste des Lieux d'interet</h3>




<div class="row">
    <div class="col-12 col-md-6 col-xl-4"   *ngFor="let lieu  of lstAllLieux">
       
        <div class="card"  style="border: 1px solid midnightblue;background-color:whitesmoke;">
          <div class="card-header d-flex justify-content-between mb-5" 
          style="background-color:green;font-size:large;font-weight: bold;color: white;"> 
          <span style="background-color:green;font-size:large;font-weight: bold;color:;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-size: x-large;">{{ lieu.nom }}</span>
         
         <div class="btn-group justify-content-between" role="group" aria-label="First group">

          <a  target="_blank" style="background-color:green;color: white;"  type="button" class="btn  btn-sm "
          href="http://www.google.com/maps/place/{{ lieu.latitude}},{{ lieu.longitude }}/@/{{ lieu.latitude}},{{ lieu.longitude }}},17z/data=!3m1!1e3">
          Maps</a> 
        <button class="btn  btn-sm " 
          (click)="openBackDropCustomClass(content)" 
           style="background-color:rgb(83, 83, 138);color: white;min-width:4em">Image</button>
          </div>
         
       </div>
       <div >
         
        </div>
        
        <textarea disabled style="border: 1px solid midnightblue;resize: none;background: rgb(205, 205, 223);
        color:midnightblue">{{ lieu.description}}</textarea>
        <div class="contentLieux">
         <ng-template #content let-modal>
            <div class="modal-header">
              <span Class="modal-title" 
              style="background-color:green;color:white;;font-size:large;font-weight: bold;">
              {{ lieu.nom }}</span>
            </div>
            <img src="{{imgServer}}{{ lieu.lieu }}.jpg"
            alt="Image de {{ lieu.lieu }} ">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
           

          
    
        <p style="background-color:midnightblue ;color:mintcream">  Liste Stations :</p>

           
        <table class="tabler">
            <thead style="background:rgb(83, 83, 138);color: white;">
                <tr>
                    <th>Code</th>
                    <th>libelle</th>
                    <th>distance</th>
                    <th>Infos</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let detailLieu  of lieu.lstStations">
                    <td>{{ detailLieu.lieu }}</td>
                    <td>{{ detailLieu.libelle }}</td>
                    <td>{{ detailLieu.distance }} </td>
                    <td ><a  class="btn btn-sm btn-outline-dark" role="button" 
                        style="color: white;background: green;"
                        [routerLink]="['/horaires',detailLieu.lieu]" >Infos</a></td>
                </tr>
            </tbody>
        </table>
        </div>
        <p></p>

      </div>
  </div>
</div>
