

<div  class="container">
  <div class="row">
    <div class="col-2 col-md-3 col-xl-4"></div>
    <div class="col-8 col-md-6 col-xl-4 connect">
 <div class="card" style="background-color: rgb(209, 216, 212);">
    <div class="card-header" style="background-color: green;color: white;font-weight: bold;">
      Connexion à mon compte</div>

      <ul class="list-group list-group-flush">

      <li class="list-group-item">

        <form #formLogin="ngForm">
 
    <div>   <label><b>Email : </b></label>
            <input [(ngModel)]="login.username" type="email"  ngModel email="true" ngModel required
            ngModel minlength="5" #name="ngModel" id="email" name="email"
              placeholder="user@domain.com" /> 


               
    </div>
    <div>
         

          <label><b>Mot de Passe :</b> </label>
            <input [(ngModel)]="login.password" type="password" ngModel minlength="3"  ngModel required
            placeholder="Mot de passe (sur 3 positions min)" id="password" name="password" #pwd="ngModel"> 

    </div>


    <p style="text-align: center;margin-bottom: 0%;">
    <button class="mybtn"    [disabled]="!formLogin.form.valid"  (click)="onLogin()" > 
          connexion 
        </button>
        <span style="padding-left:20px">  </span>
        <button class="mybtn" (click)="createUser()" > 
          creer compte 
        </button>
      </p>
    </form>
      </li>
      <li class="list-group-item"  style="background-color: green;color: white;">
      <span>
     
    {{message}}
      </span>
    </li>
  </ul>
    </div>

  </div>
  <div class="col-2 col-md-3 col-xl-4"></div>
</div>
</div>

 

