<div class="row" 
style="background-color:{{couleurFondPrefereeLocale}};color:{{couleurtext}};">
<div class="col-11 col-md-11 col-xl-11">
  Couleur Contour :
    <select [(ngModel)]="couleurFondPrefereeLocale"
        (ngModelChange)="onCouleurFondPrefereeLocaleChange()" >
        <option *ngFor="let c of listeCouleurs" [ngValue]="c">
                {{c}}</option>
    </select>
  </div>
    <div class="col-1 col-md-1 col-xl-1">
      <button class="btn  btn-sm mybtn" 
        (click)="openVerticallyCentered(content)" >
         A propos</button>

        </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <span Class="modal-title" 
        style="background-color:green;color:white;;font-size:large;font-weight: bold;">
       A propos ...</span>
      </div>
      <p>Cette solution a été developpé dans le cadre d'un projet de fin de formation 
        <b>Architecte Logiciel</b> à Isika (voir 
        <a href="https://projet-isika.com/index.php/architecte-logiciel-cycle-long-isika/" 
        target="_blank">là</a> pour en savoir plus) en Juillet 2021
      </p>
      <p>Son auteur/codeur (en Java/Spring, Node.js, Angular) est :<br>
        <b>Pierre Poulet-Mathis</b> 
        (profil 
        <a href="https://www.linkedin.com/in/pierre-poulet-mathis-5172b6122" 
        target="_blank">linkedIn</a> )
      </p>
      <p>
        si vous le souhaitez, vous pouvez aller voir le code sur 
        <a href="https://github.com/pierpm64/Projet_AL07" 
        target="_blank">GitHub</a>
      </p>
      <p>
        vous accédez actuellement à l'environnement de <b>{{envBld}}</b><br>
        le dernier "build" de l'application date du  <b>{{dateHeureBld}}</b>
      </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm mybtn" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
  </div>