<div class="row" 
style="background-color:{{couleurFondPrefereeLocale}};color:{{couleurtext}};">
<div class="col-9 col-md-10 col-xl-11">
  Couleur Contour :
    <select [(ngModel)]="couleurFondPrefereeLocale"
        (ngModelChange)="onCouleurFondPrefereeLocaleChange()" >
        <option *ngFor="let c of listeCouleurs" [ngValue]="c">
                {{c}}</option>
    </select>
  </div>
    <div class="col-3 col-md-2 col-xl-1">
      <button class="btn  btn-sm mybtn" 
        (click)="openVerticallyCentered(content)" >
         A propos</button>

        </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <span Class="modal-title" 
        style="background-color:green;color:white;;font-size:large;font-weight: bold;">
       A propos du site "Fiabilité TAN"</span>
      </div>
      <p>Cet site (et le "back" qui va de paire) a été developpé dans le cadre d'un projet de fin de formation 
        <b>Architecte Logiciel</b> à Isika <br>(voir 
        <a href="https://projet-isika.com/index.php/architecte-logiciel-cycle-long-isika/" 
        target="_blank">là</a> pour en savoir plus) en Juillet 2021
      </p>
      <div>Son auteur/codeur (en Java/Spring, Node.js, Angular) est :
        <p style="text-align: center;">
        <b>Pierre Poulet-Mathis</b> 
        (profil 
        <a href="https://www.linkedin.com/in/pierre-poulet-mathis-5172b6122" 
        target="_blank">linkedIn</a> )</p>
    </div>
    <p>
        si vous le souhaitez, vous pouvez aller voir le code sur 
        <a href="https://github.com/pierpm64/Projet_AL07" 
        target="_blank">GitHub</a>

      <p>
        vous accédez actuellement à l'environnement de <b>{{envBld}}</b><br>
        le dernier "build" de l'application date du  <b>{{dateHeureBld}}</b>
      </p>
      <p>
        La référence en terme de transport de l'agglomeration Nantaise reste
        le site  <a href="https://www.tan.fr/" 
        target="_blank">tan.fr</a>
       
      </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm mybtn" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
  </div>