<h3 style="background: green;color: white;">
    Administration - Nettoyage historique collecte !</h3>


<h4>Bonjour {{loginInfo["pseudo"]}} ( {{loginInfo["prenom"]}} {{loginInfo["nom"]}} )</h4>

<div>Dans le cadre du projet de suivi de la qualité du transport à Nantes (TAN)
    Il y a des robots qui vont collecter l'info pour pouvoir la restituer, la comparer

    <p>
    Il y a fait 3 robots qui tournent :</p>

    <ol>
        <li><u>Une collecte des horaires du jours</u><br><br>
        TOus les matins à 5h15, on appelle l'api TAN pour recherche des horaires des lignes 
        pour l'ensemble des stations nécéssaires (celles </li>
    </ol>
</div>
