<p>Bienvenue sur l'application de suivi de la qualité des transports en communs à Nantes</p>

<div *ngIf="loginInfo"><h4>Bonjour {{loginInfo.pseudo}} ( {{loginInfo.prenom}} {{loginInfo.nom}} )</h4></div>

<div>nous sommes le {{dateStr}}</div>

<div>vous utilisez le navigateur : {{browser}}</div>

<div><p></p></div>

<div class="text-center">
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" class="img-fluid" class="img-fluid" >
    </div>
    <div class="carousel-caption">
      <h3 style="color: white;background: firebrick;">Les Anneaux de Buren</h3>
      <p style="color: white;background: firebrick;">les Anneaux de Buren ...</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3 style="color: black;">Fiabilité TAN</h3>
      <p style="color: black;">La solution de suiv de la 
        Fiabilité des Transport en commun Agglomeration Nantaise</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3  style="color: black;" >Les Machines de l'Ile</h3>
      <p style="color: black;">les machines de l'ile avec les elefants</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Le Tram Nantais</h3>
      <p>le Tram , trés efficace</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>

<div><p></p><p></p></div>

