<p>Bienvenue sur l'application de suivi de la qualité des transports en commun à Nantes</p>

<div *ngIf="loginInfo"><h5>Bonjour {{loginInfo.pseudo}} ( {{loginInfo.prenom}} {{loginInfo.nom}} )</h5></div>
 

<div>nous sommes le {{dateStr}}</div>

<div><p></p></div>

<div class="text-center">
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Fiabilité TAN"  class="img-fluid">
    </div>
    <div class="carousel-caption">
      <p style="color: black;">Ce site de suivi Fiabilité TAN</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Les Anneaux de Buren" class="img-fluid" class="img-fluid" >
    </div>
    <div class="carousel-caption">
      <h5 style="color: white;background: firebrick;">Les Anneaux de Buren</h5>
      <p style="color: white;background: firebrick;">
        œuvre de Daniel Buren et Patrick Bouchain sur l'île de Nantes</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Les Machines de l'ile"  class="img-fluid">
    </div>
    <div class="carousel-caption">
      <h5  style="color: black;" >Les Machines de l'Ile</h5>
      <p style="color: black;">les machines de l'ile avec les elephants</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Le Tram Nantais"  class="img-fluid">
    </div>
    <div class="carousel-caption">
      <h5>Le Tram Nantais</h5>
      <p>le Tram , solution de transport trés efficace !</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>

<div><p></p><p></p></div>

